p {
  font-family: Arial, Helvetica, sans-serif;
  color: #464646;
}

#container {
  max-width: 430px;
  height: 100px;
  border-radius: 15px;
  border: 1px solid #464646;
  background-color: #00c3ff;
  display: flex;
}

#name {
  margin-left: 30px;
  font-size: 1.4em;
  margin-bottom: 10px;
}

#description {
  text-transform: capitalize;
  margin-left: 30px;
  margin-top: 0;
  font-size: 1.2em;
}

#temp {
  margin-left: 20px;
  font-size: 3em;
  margin-top: auto;
  margin-bottom: auto;
}

#icon {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
